In [82]:
import pandas as pd
import numpy as np

In [83]:
#headers = ['Date', 'Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

In [84]:
df = pd.read_csv("household_power_consumption.txt", index_col=["Date", "Time"], sep=";", low_memory=False)
df = df.drop(df.loc[df["Global_active_power"]=='?'].index)
df = df.drop(df.loc[df["Global_reactive_power"]=='?'].index)
df = df.drop(df.loc[df["Voltage"]=='?'].index)
df = df.drop(df.loc[df["Global_intensity"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_1"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_2"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_3"]=='?'].index)
df = df.astype('float64')

In [85]:
df

                     Global_active_power  Global_reactive_power  Voltage  \
Date       Time
16/12/2006 17:24:00                4.216                  0.418   234.84
           17:25:00                5.360                  0.436   233.63
           17:26:00                5.374                  0.498   233.29
           17:27:00                5.388                  0.502   233.74
           17:28:00                3.666                  0.528   235.68
...                                  ...                    ...      ...
26/11/2010 20:58:00                0.946                  0.000   240.43
           20:59:00                0.944                  0.000   240.00
           21:00:00                0.938                  0.000   239.82
           21:01:00                0.934                  0.000   239.70
           21:02:00                0.932                  0.000   239.55

                     Global_intensity  Sub_metering_1  Sub_metering_2  \
Date       Time
16/12/2006 17:24:00              18.4             0.0             1.0
           17:25:00              23.0             0.0             1.0
           17:26:00              23.0             0.0             2.0
           17:27:00              23.0             0.0             1.0
           17:28:00              15.8             0.0             1.0
...                               ...             ...             ...
26/11/2010 20:58:00               4.0             0.0             0.0
           20:59:00               4.0             0.0             0.0
           21:00:00               3.8             0.0             0.0
           21:01:00               3.8             0.0             0.0
           21:02:00               3.8             0.0             0.0

                     Sub_metering_3
Date       Time
16/12/2006 17:24:00            17.0
           17:25:00            16.0
           17:26:00            17.0
           17:27:00            17.0
           17:28:00            17.0
...                             ...
26/11/2010 20:58:00             0.0
           20:59:00             0.0
           21:00:00             0.0
           21:01:00             0.0
           21:02:00             0.0

[2049280 rows x 7 columns]

In [86]:
df[df["Global_active_power"]>5][['Global_active_power', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

                     Global_active_power  Sub_metering_1  Sub_metering_2  \
Date       Time
16/12/2006 17:25:00                5.360             0.0             1.0
           17:26:00                5.374             0.0             2.0
           17:27:00                5.388             0.0             1.0
           17:35:00                5.412             0.0             1.0
           17:36:00                5.224             0.0             1.0
...                                  ...             ...             ...
22/11/2010 18:40:00                5.408            48.0             0.0
           18:41:00                5.528            53.0             0.0
24/11/2010 07:50:00                5.172             0.0            38.0
           07:51:00                5.750             0.0            39.0
25/11/2010 07:21:00                5.074             1.0             2.0

                     Sub_metering_3
Date       Time
16/12/2006 17:25:00            16.0
           17:26:00            17.0
           17:27:00            17.0
           17:35:00            17.0
           17:36:00            16.0
...                             ...
22/11/2010 18:40:00             0.0
           18:41:00             0.0
24/11/2010 07:50:00            17.0
           07:51:00            17.0
25/11/2010 07:21:00            18.0

[17547 rows x 4 columns]

In [87]:
df[df["Voltage"]>235][['Voltage', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

                     Voltage  Sub_metering_1  Sub_metering_2  Sub_metering_3
Date       Time
16/12/2006 17:28:00   235.68             0.0             1.0            17.0
           17:29:00   235.02             0.0             2.0            17.0
           17:30:00   235.09             0.0             1.0            17.0
           17:31:00   235.22             0.0             1.0            17.0
           17:38:00   235.24             0.0             1.0            17.0
...                      ...             ...             ...             ...
26/11/2010 20:58:00   240.43             0.0             0.0             0.0
           20:59:00   240.00             0.0             0.0             0.0
           21:00:00   239.82             0.0             0.0             0.0
           21:01:00   239.70             0.0             0.0             0.0
           21:02:00   239.55             0.0             0.0             0.0

[1952491 rows x 4 columns]

In [88]:
df19_20 = df[(df["Global_intensity"]>=19) & (df["Global_intensity"]<=20)][['Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]
df19_20
# df19_20[df["Sub_metering_2"]>df19_20["Sub_metering_3"]]

                     Global_intensity  Sub_metering_1  Sub_metering_2  \
Date       Time
16/12/2006 17:34:00              19.6             0.0             1.0
           17:48:00              19.4             0.0             0.0
           17:57:00              19.2             0.0             0.0
           18:09:00              19.0             0.0            37.0
           18:16:00              19.6             0.0             9.0
...                               ...             ...             ...
24/11/2010 07:53:00              19.8             0.0            39.0
           07:54:00              19.8             0.0            39.0
           07:55:00              19.4             0.0            40.0
           07:56:00              19.0             0.0            39.0
           07:57:00              19.4             0.0            39.0

                     Sub_metering_3
Date       Time
16/12/2006 17:34:00            17.0
           17:48:00            17.0
           17:57:00            17.0
           18:09:00            16.0
           18:16:00            17.0
...                             ...
24/11/2010 07:53:00            17.0
           07:54:00            18.0
           07:55:00            17.0
           07:56:00            17.0
           07:57:00            17.0

[7021 rows x 4 columns]

In [89]:
random_df = df.sample(500000)
random_df['Average_of_3'] = (random_df['Sub_metering_1']+random_df['Sub_metering_2']+random_df['Sub_metering_3'])/3
random_df[['Average_of_3', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

,,Average_of_3,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,Time,,,,
25/8/2008,00:45:00,0.000000,0.0,0.0,0.0
29/3/2010,20:25:00,0.333333,0.0,0.0,1.0
16/10/2007,02:20:00,0.000000,0.0,0.0,0.0
15/7/2008,16:12:00,6.666667,0.0,2.0,18.0
3/5/2008,12:52:00,0.333333,0.0,0.0,1.0
...,...,...,...,...,...
6/10/2010,17:40:00,1.666667,0.0,0.0,5.0
24/2/2010,02:21:00,0.333333,0.0,0.0,1.0
29/1/2008,20:56:00,0.000000,0.0,0.0,0.0
16/7/2009,05:34:00,6.333333,0.0,1.0,18.0
1/3/2009,04:47:00,0.000000,0.0,0.0,0.0