# Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
#headers = ['Date', 'Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
dictionary_for_needed_type = {
    'Global_active_power': 'float64',
    'Global_reactive_power': 'float64',
    'Voltage': 'float64',
    'Global_intensity': 'float64',
    'Sub_metering_1': 'float64',
    'Sub_metering_2': 'float64',
    'Sub_metering_3': 'float64',
                             }

In [3]:
df = pd.read_csv("household_power_consumption.txt", sep=";", low_memory=False)
#, index_col=["Date", "Time"]

In [4]:
df = df.drop(df.loc[df["Date"]=='?'].index)
df = df.drop(df.loc[df["Time"]=='?'].index)
df = df.drop(df.loc[df["Global_active_power"]=='?'].index)
df = df.drop(df.loc[df["Global_reactive_power"]=='?'].index)
df = df.drop(df.loc[df["Voltage"]=='?'].index)
df = df.drop(df.loc[df["Global_intensity"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_1"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_2"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_3"]=='?'].index)

In [5]:
df = df.astype(dictionary_for_needed_type)

# Завдання першого рівня
Виконати всі завдання, використовуючи як numpy array, так і dataframe, проаналізувати часові витрати на виконання процедур (профілювання часу виконання), зробити висновки щодо ситуацій, в яких має сенс віддати перевагу тій чи іншій структурі даних. Висновки оформити звітом із зазначеним часом виконання та оцінкою по 5-бальній шкалі зручності виконання операцій відбору).

## 1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [46]:
df[df["Global_active_power"]>5][["Date", "Time", 'Global_active_power', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

,Date,Time,Global_active_power,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.0,1.0,16.0
...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,1.0,2.0,18.0

## 2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [47]:
df[df["Voltage"]>235][["Date", "Time", 'Voltage', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

,Date,Time,Voltage,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,235.68,0.0,1.0,17.0
5,16/12/2006,17:29:00,235.02,0.0,2.0,17.0
6,16/12/2006,17:30:00,235.09,0.0,1.0,17.0
7,16/12/2006,17:31:00,235.22,0.0,1.0,17.0
14,16/12/2006,17:38:00,235.24,0.0,1.0,17.0
...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,240.43,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,240.00,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,239.82,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,239.70,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,239.55,0.0,0.0,0.0

## 3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [48]:
df19_20 = df[(df["Global_intensity"] >= 19) & (df["Global_intensity"] <= 20)][["Date", "Time", 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]
df19_20
df19_20[df19_20["Sub_metering_2"] > df19_20["Sub_metering_3"]]

,Date,Time,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,19.0,0.0,37.0,16.0
460,17/12/2006,01:04:00,19.6,0.0,13.0,0.0
464,17/12/2006,01:08:00,19.6,0.0,27.0,0.0
475,17/12/2006,01:19:00,19.4,0.0,36.0,0.0
476,17/12/2006,01:20:00,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,19.8,0.0,39.0,17.0
2071590,24/11/2010,07:54:00,19.8,0.0,39.0,18.0
2071591,24/11/2010,07:55:00,19.4,0.0,40.0,17.0
2071592,24/11/2010,07:56:00,19.0,0.0,39.0,17.0
2071593,24/11/2010,07:57:00,19.4,0.0,39.0,17.0

## 4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії, а також

In [49]:
random_df = df.sample(500000)
random_df['Average_of_3'] = (random_df['Sub_metering_1']+random_df['Sub_metering_2']+random_df['Sub_metering_3'])/3
random_df[["Date", "Time", 'Average_of_3', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

,Date,Time,Average_of_3,Sub_metering_1,Sub_metering_2,Sub_metering_3
1453821,21/9/2009,07:45:00,6.333333,0.0,0.0,19.0
1997767,4/10/2010,01:31:00,0.333333,0.0,0.0,1.0
2059489,15/11/2010,22:13:00,0.666667,0.0,2.0,0.0
1494175,19/10/2009,08:19:00,7.000000,2.0,0.0,19.0
279502,28/6/2007,19:46:00,8.333333,0.0,7.0,18.0
...,...,...,...,...,...,...
910374,8/9/2008,22:18:00,2.333333,2.0,4.0,1.0
517730,11/12/2007,06:14:00,0.000000,0.0,0.0,0.0
1774885,2/5/2010,06:49:00,0.000000,0.0,0.0,0.0
358362,22/8/2007,14:06:00,0.000000,0.0,0.0,0.0
1418843,28/8/2009,00:47:00,0.333333,0.0,1.0,0.0

## 5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [50]:
df[(df['Time']>= "18:30:00") & (df['Global_active_power']>6) & (df["Sub_metering_2"]>df["Sub_metering_1"]) & (df["Sub_metering_2"]>df["Sub_metering_3"])]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
71,16/12/2006,18:35:00,6.072,0.000,232.48,26.4,0.0,27.0,17.0
3007,18/12/2006,19:31:00,6.158,0.442,229.08,27.0,0.0,36.0,0.0
17494,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17496,28/12/2006,21:00:00,6.376,0.252,235.94,27.4,1.0,53.0,17.0
17497,28/12/2006,21:01:00,7.062,0.270,235.76,30.2,2.0,65.0,17.0
...,...,...,...,...,...,...,...,...,...
2066480,20/11/2010,18:44:00,6.374,0.392,228.52,28.2,15.0,36.0,16.0
2066481,20/11/2010,18:45:00,6.564,0.430,228.43,29.0,13.0,40.0,16.0
2066482,20/11/2010,18:46:00,6.438,0.308,229.26,28.4,13.0,39.0,16.0
2066485,20/11/2010,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0
2066488,20/11/2010,18:52:00,6.364,0.126,229.38,28.2,17.0,34.0,16.0