In [28]:
import pandas as pd
import numpy as np

In [39]:
#headers = ['Date', 'Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
dictionary_for_needed_type = {
    'Global_active_power': 'float64',
    'Global_reactive_power': 'float64',
    'Voltage': 'float64',
    'Global_intensity': 'float64',
    'Sub_metering_1': 'float64',
    'Sub_metering_2': 'float64',
    'Sub_metering_3': 'float64',
                             }

In [30]:
df = pd.read_csv("household_power_consumption.txt", sep=";", low_memory=False)
#, index_col=["Date", "Time"]

In [31]:
df = df.drop(df.loc[df["Global_active_power"]=='?'].index)
df = df.drop(df.loc[df["Global_reactive_power"]=='?'].index)
df = df.drop(df.loc[df["Voltage"]=='?'].index)
df = df.drop(df.loc[df["Global_intensity"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_1"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_2"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_3"]=='?'].index)

In [40]:
df = df.astype(dictionary_for_needed_type)

In [47]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,2023-10-17 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,2023-10-17 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,2023-10-17 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,2023-10-17 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,2023-10-17 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,2023-10-17 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,2023-10-17 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,2023-10-17 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,2023-10-17 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,2023-10-17 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [41]:
df[df["Global_active_power"]>5][['Global_active_power', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

         Global_active_power  Sub_metering_1  Sub_metering_2  Sub_metering_3
1                      5.360             0.0             1.0            16.0
2                      5.374             0.0             2.0            17.0
3                      5.388             0.0             1.0            17.0
11                     5.412             0.0             1.0            17.0
12                     5.224             0.0             1.0            16.0
...                      ...             ...             ...             ...
2069356                5.408            48.0             0.0             0.0
2069357                5.528            53.0             0.0             0.0
2071586                5.172             0.0            38.0            17.0
2071587                5.750             0.0            39.0            17.0
2072997                5.074             1.0             2.0            18.0

[17547 rows x 4 columns]

In [42]:
df[df["Voltage"]>235][['Voltage', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

         Voltage  Sub_metering_1  Sub_metering_2  Sub_metering_3
4         235.68             0.0             1.0            17.0
5         235.02             0.0             2.0            17.0
6         235.09             0.0             1.0            17.0
7         235.22             0.0             1.0            17.0
14        235.24             0.0             1.0            17.0
...          ...             ...             ...             ...
2075254   240.43             0.0             0.0             0.0
2075255   240.00             0.0             0.0             0.0
2075256   239.82             0.0             0.0             0.0
2075257   239.70             0.0             0.0             0.0
2075258   239.55             0.0             0.0             0.0

[1952491 rows x 4 columns]

In [43]:
df19_20 = df[(df["Global_intensity"]>=19) & (df["Global_intensity"]<=20)][['Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]
df19_20
# df19_20[df["Sub_metering_2"]>df19_20["Sub_metering_3"]]

         Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
10                   19.6             0.0             1.0            17.0
24                   19.4             0.0             0.0            17.0
33                   19.2             0.0             0.0            17.0
45                   19.0             0.0            37.0            16.0
52                   19.6             0.0             9.0            17.0
...                   ...             ...             ...             ...
2071589              19.8             0.0            39.0            17.0
2071590              19.8             0.0            39.0            18.0
2071591              19.4             0.0            40.0            17.0
2071592              19.0             0.0            39.0            17.0
2071593              19.4             0.0            39.0            17.0

[7021 rows x 4 columns]

In [44]:
random_df = df.sample(500000)
random_df['Average_of_3'] = (random_df['Sub_metering_1']+random_df['Sub_metering_2']+random_df['Sub_metering_3'])/3
random_df[['Average_of_3', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']]

         Average_of_3  Sub_metering_1  Sub_metering_2  Sub_metering_3
748239       6.333333             0.0             1.0            18.0
1307406      6.333333             0.0             1.0            18.0
198146       6.000000             0.0             1.0            17.0
665944       0.000000             0.0             0.0             0.0
1206781      0.000000             0.0             0.0             0.0
...               ...             ...             ...             ...
1077287      0.000000             0.0             0.0             0.0
426914       0.000000             0.0             0.0             0.0
1995469      0.666667             0.0             1.0             1.0
2029457      0.333333             0.0             0.0             1.0
1961986      0.000000             0.0             0.0             0.0

[500000 rows x 4 columns]

In [46]:
df[df['Time']>= "18:30:00" ]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
66,2006-12-16,2023-10-17 18:30:00,2.930,0.000,236.15,12.4,0.0,1.0,17.0
67,2006-12-16,2023-10-17 18:31:00,2.912,0.050,235.81,12.4,0.0,1.0,17.0
68,2006-12-16,2023-10-17 18:32:00,2.608,0.052,235.41,11.0,0.0,1.0,17.0
69,2006-12-16,2023-10-17 18:33:00,2.714,0.162,234.82,11.6,0.0,0.0,17.0
70,2006-12-16,2023-10-17 18:34:00,3.538,0.086,233.76,15.6,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,2023-10-17 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,2023-10-17 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,2023-10-17 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,2023-10-17 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,2023-10-17 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0