In [23]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("household_power_consumption.txt",index_col=["Date", "Time"], sep=";", low_memory=False)
df = df.drop(df.loc[df["Global_active_power"]=='?'].index)
df = df.drop(df.loc[df["Global_reactive_power"]=='?'].index)
df = df.drop(df.loc[df["Voltage"]=='?'].index)
df = df.drop(df.loc[df["Global_intensity"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_1"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_2"]=='?'].index)
df = df.drop(df.loc[df["Sub_metering_3"]=='?'].index)

In [39]:
df

                    Global_active_power Global_reactive_power  Voltage  \
Date       Time
16/12/2006 17:24:00               4.216                 0.418  234.840
           17:25:00               5.360                 0.436  233.630
           17:26:00               5.374                 0.498  233.290
           17:27:00               5.388                 0.502  233.740
           17:28:00               3.666                 0.528  235.680
...                                 ...                   ...      ...
26/11/2010 20:58:00               0.946                 0.000  240.430
           20:59:00               0.944                 0.000  240.000
           21:00:00               0.938                 0.000  239.820
           21:01:00               0.934                 0.000  239.700
           21:02:00               0.932                 0.000  239.550

                    Global_intensity Sub_metering_1 Sub_metering_2  \
Date       Time
16/12/2006 17:24:00           18.400          0.000          1.000
           17:25:00           23.000          0.000          1.000
           17:26:00           23.000          0.000          2.000
           17:27:00           23.000          0.000          1.000
           17:28:00           15.800          0.000          1.000
...                              ...            ...            ...
26/11/2010 20:58:00            4.000          0.000          0.000
           20:59:00            4.000          0.000          0.000
           21:00:00            3.800          0.000          0.000
           21:01:00            3.800          0.000          0.000
           21:02:00            3.800          0.000          0.000

                     Sub_metering_3
Date       Time
16/12/2006 17:24:00            17.0
           17:25:00            16.0
           17:26:00            17.0
           17:27:00            17.0
           17:28:00            17.0
...                             ...
26/11/2010 20:58:00             0.0
           20:59:00             0.0
           21:00:00             0.0
           21:01:00             0.0
           21:02:00             0.0

[2049280 rows x 7 columns]

In [30]:
df['Global_active_power'].describe()

count     2075259
unique       4187
top             ?
freq        25979
Name: Global_active_power, dtype: object